header {
  width: 100%;
  padding: 0.5em 0;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: row;
}
.menu {
  display: flex;

  margin: 0;
  padding: 0;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  flex: 3;
  justify-content: flex-end;
  padding-right: 3em;
}
/*All Menu Anchors*/
.menu a {
  display: block;
  padding: 10px 1em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-size: 0.8em;
  color: #1d3e53;
  font-weight: 300;
  text-shadow: 1px 1px 1px #fefefe;
  cursor: pointer;
}

.menu a:hover,
.menu a.active,
.menu a.current {
  text-shadow: none;
  color: tomato;
}

.menu ul,
.menu li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*Main menu*/
.menu ul {
  position: relative;
  display: table;
}
.menu ul:after {
  content: "";
  clear: both;
  display: table;
}
.menu li {
  display: inline-block;
  position: relative;
}

.welcome {
  font-size: 70%;
  color: #1d3e53;
}

.logo {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 3em;
}

.logo p {
  color: #1d3e53;
  margin: 0;
  padding-top: 0.3em;
  font-size: 1.5em;
  font-family: monospace;
  font-weight: bold;
}
